@font-face {
  font-family: satoshi-regular;
  src: url(assets/fonts/Satoshi-Regular.woff2)
}

@font-face {
  font-family: satoshi-bold;
  src: url(assets/fonts/Satoshi-Bold.woff2)
}

@font-face {
  font-family: sentient-medium;
  src: url(assets/fonts/Sentient-Medium.woff2)
}

:root {
  --color-white: #fff;
  --font-color-dark: #212121;
  --color-primary-light: #e9e1ff;
  --color-secondary-light: #d8f6f0;
}

html {
  display: table;
  margin: auto
}

body {
  font-family: satoshi-regular;
  margin: 0;
  height: 100%;
  color: var(--font-color-dark);
  background: linear-gradient(333deg, var(--color-white), var(--color-primary-light), var(--color-secondary-light))
}

.title {
  font-family: satoshi-bold !important;
  font-size: 40px !important
}

::selection {
  background: #d6ccf1;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid;
  padding: 10px;
  overflow: hidden;
  border-color: transparent transparent rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-width: 0 0 1px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
}

header a {
  float: left;
  text-align: center;
  padding: 16px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--font-color-dark)
}

header button.title {
  font-size: 25px;
  font-weight: 700;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  float: left;
  text-align: center;
  padding: 16px;
  line-height: 25px;
  border-radius: 4px;
  text-decoration: none
}

header button.title:hover {
  text-decoration: underline;
}

.theme-toggle-icon {
  width: 25px;
}

.theme-toggle-icon:hover {
  cursor: pointer;
}

.header-right {
  float: right;
}

.content {
  max-width: 1200px;
  margin: 80px;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

footer .footer-info {
  padding: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

header button {
  color: var(--font-color-dark);
}

::-webkit-scrollbar-thumb {
  background: #b165d8
}

::-webkit-scrollbar-thumb:hover {
  background: #893eae
}

::-webkit-scrollbar-thumb:active {
  background: #693482
}

h4 {
  margin: 0
}

h4:hover {
  text-decoration: underline
}

.introduction {
  margin-bottom: 110px;
  padding-top: 50px
}

.section {
  margin-bottom: 70px;
  border-color: transparent transparent rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-width: 0 0 1px;
  box-shadow: 0 4px 30px rgba(230, 186, 255, 0.1);
  border-radius: 5px;
  padding: 50px
}

.section .link {
  width: fit-content;
  float: right;
  text-align: center;
  padding: 8px
}

.section .links {
  float: right;
  margin-top: -50px;
  display: inline
}

.section .link .btn {
  padding: 15px;
  text-align: center;
  transition: .5s;
  background-size: 200% auto;
  color: var(--font-color-dark);
  box-shadow: 0 0 20px #eee;
  border: 1px solid var(--color-white);
  border-radius: 5px;
  background-image: linear-gradient(to right, #cff9f0 0%, #e4ddf9 51%, #cff9f0 100%);
  text-decoration: none;
  box-shadow: 0 4px 30px rgba(159, 116, 183, 0.183)
}

.section .link .btn br {
  display: none
}

.section .link .btn:hover {
  background-position: right center;
  padding: 17px;
  box-shadow: 0 4px 30px rgba(167, 218, 212, 0.578);
  font-size: 18px;
  font-weight: 700
}

.section .link .btn:active {
  background-position: right center;
  padding: 13px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, #e3fff9 0%, #d1c1fc 51%, #e3fff9 100%)
}

.section .link .btn img {
  vertical-align: middle;
  margin: -4px 5px 0 0
}

.introduction .subtitle {
  font-size: 60px;
  line-height: 65px;
  text-align: left
}

.introduction .subtitle,
.section .subtitle {
  margin-bottom: 20px;
  width: 400px
}

.section .subtitle {
  font-size: 30px
}

.introduction .description,
.section .description {
  text-align: justify;
  padding-bottom: 90px
}

.introduction .description {
  width: 600px;
  font-size: 25px;
  line-height: 32px
}

.description {
  font-size: 20px
}

.separator {
  border-top-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: medium
}

.tooltip-link {
  font-size: 20px;
  font-weight: 700
}

.tooltip-link:hover {
  text-decoration: underline
}

.introduction .image {
  text-align: center;
  float: right;
  margin: -58px 100px 0 20px;
}

.introduction .text {
  width: 60%;
  margin-left: 50px
}

.introduction .image img {
  width: 400px;
  border-radius: 50%;
  box-shadow: -50px 50px #c1b5ed, 70px -4px #aeefe1;
  animation: mymove 7s infinite;
  padding: 10px
}

@keyframes mymove {
  50% {
    border-radius: 50%;
    box-shadow: 10px 20px 30px #b2a2ed
  }
}

.social-shortcuts a {
  margin: 0 10px
}

.highlighted-link {
  font-family: satoshi-bold;
  text-decoration: none;
  font-style: bold;
  color: var(--font-color-dark);
}

.name {
  font-family: sentient-medium;
  font-size: 85px;
  line-height: 95px
}

.highlighted-link:hover {
  text-decoration: underline
}

.social-shortcuts a img:hover {
  transition: transform .2s ease;
  transform: scale(1.2)
}

.experience {
  margin-bottom: 50px;
  padding: 0 25px
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer
}

.tooltip .tooltiptext {
  visibility: hidden;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(69, 58, 100, 0.2);
  border-color: transparent transparent rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: var(--font-color-dark);
  text-align: center;
  border-radius: 6px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  border-style: solid;
  border-color: var(--color-primary-light);
  border-width: 1px
}

.tooltip .show {
  visibility: visible;
  -webkit-animation: fadeIn .3s;
  animation: fadeIn .3s
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.badge {
  border-radius: 25px;
  font-size: 15px;
  padding: 5px 12px;
  font-weight: 700;
  margin-right: 2px;
  line-height: 40px;
  white-space: nowrap
}

p .badge:nth-child(odd) {
  background-color: #e6deff;
  color: #8b37b5
}

p .badge:nth-child(even) {
  background-color: #dbfff7;
  color: #1a816b
}

.company {
  padding-top: 40px;
  margin-left: -20px;
  font-weight: 700;
  font-size: 22px
}

.period {
  font-weight: 400;
  margin-left: 8px;
  font-size: 14px
}

.content-unsupported {
  padding: 280px
}

.content-unsupported img {
  border-style: solid;
  border-width: 5px;
  border-color: var(--color-white);
  border-radius: 15px
}

@media screen and (max-width: 1000px) {
  body {
    line-height: 50px
  }

  header {
    padding: 60px
  }

  header a {
    float: none;
    display: block;
    text-align: center
  }

  header .title {
    width: 100%;
    font-size: 60px !important
  }

  .header-right {
    float: none
  }

  h1 {
    text-align: center
  }

  .introduction {
    margin-bottom: 120px;
    padding-top: 10px
  }

  .introduction .description {
    font-size: 45px;
    line-height: 50px
  }

  .title {
    font-size: 45px !important
  }

  .content {
    margin: 0
  }

  .introduction,
  .section {
    width: auto
  }

  .section .subtitle {
    margin-bottom: 80px
  }

  .description .experience {
    margin-bottom: 100px
  }

  .description .experience .period {
    font-size: 15px;
    font-weight: 400
  }

  .section {
    margin: 0 0 80px;
    border-radius: 0
  }

  .section .links {
    display: flex;
    float: none;
    justify-content: space-around;
    width: 100%
  }

  .section .links .link {
    width: auto;
    float: none;
    font-size: 24px;
    font-weight: 700
  }

  .tooltip-link {
    /*font-size: 40px;*/
    font-weight: 700
  }

  .tooltip .tooltiptext {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    bottom: 125%;
    left: 0;
    margin-left: -60%;
  }

  .section .link .btn {
    padding-top: 10px;
    display: table-caption;
    width: 96%;
    border-radius: 40px;
    width: 140px;
    height: 140px
  }

  .section .link .btn img {
    margin: 15px 0 0;
    width: 70px
  }

  .section .link .btn p {
    font-size: 30px;
    font-weight: 700
  }

  .section .link .btn:hover {
    padding: 20px;
    font-size: 28px;
    font-weight: 700
  }

  .section .link .btn:active {
    padding: 15px
  }

  .badge {
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 15px;
    margin-right: 2px;
    line-height: 80px;
    text-align: left !important
  }

  .introduction .subtitle {
    font-size: 60px;
    line-height: 36px;
    margin-bottom: 15px;
    width: auto;
    text-align: center
  }

  .section .subtitle {
    font-size: 40px;
    text-align: center;
    width: auto
  }

  .introduction .description {
    font-size: 40px;
    line-height: 50px;
    padding-top: 20px
  }

  .introduction .description,
  .section .description {
    width: auto
  }

  .introduction .text {
    width: auto;
    margin-left: 0
  }

  .introduction .image {
    text-align: center;
    float: none;
    margin: 20px 0 40px;
    width: auto
  }

  .introduction .image img {
    width: 410px
  }

  .social-shortcuts a {
    margin: 0 5px
  }

  .name {
    font-family: sentient-medium;
    font-size: 80px;
    line-height: 36px
  }

  .introduction .text {
    width: auto;
    margin: 100px 45px 45px
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  header a {
    float: none;
    display: block;
    text-align: center
  }

  header .title {
    width: 100%
  }

  .header-right {
    float: none
  }

  h1 {
    text-align: center
  }

  .introduction {
    margin-bottom: 120px
  }

  .title {
    font-size: 30px !important
  }

  .content {
    margin: 10px
  }

  p {
    line-height: 50px
  }

  .introduction,
  .section {
    width: auto
  }

  .introduction .subtitle {
    font-size: 50px;
    line-height: 36px;
    margin-bottom: 15px;
    width: auto;
    text-align: center
  }

  .section .subtitle {
    font-size: 60px;
    text-align: center;
    width: auto
  }

  .introduction .description {
    font-size: 30px;
    line-height: 55px
  }

  .introduction .description,
  .section .description {
    width: auto
  }

  .introduction .text {
    width: auto;
    margin: 100px 45px 45px
  }

  .introduction .image {
    text-align: center;
    float: none;
    margin: 40px 0;
    width: auto
  }

  .introduction .image img {
    width: 500px;
    animation: none
  }
}